<script>
  import {
    Grid,
    Card,
    Heading,
    Form,
    Input,
    ButtonGroup,
    Button,
    List,
    ListItem
  } from "fvscl";
</script>

<style>
  main {
    max-width: 60ch;
    padding: var(--gap);
    margin-left: auto;
    margin-right: auto;
  }
</style>

<main>
  <Grid>
    <Card roundCornerXs>
      <Heading level="1">🎂 Category Is... Bangers</Heading>
      <List sm tight>
        <ListItem>You only get one song per question</ListItem>
        <ListItem>Answer with "Song - Artist" format pls</ListItem>
        <ListItem>
          We may end up skipping questions based on vibe/amount of music
        </ListItem>
        <ListItem>
          The songs are coming from Apple Music so if it's not on that I'll give
          you a shout and find something that is
        </ListItem>
      </List>
    </Card>
    <Card roundCornerXs>
      <Form title="Category is...">
        <Input
          label="Numberwanger Banger: Involves A Number In Some Way"
          value="Jurassic 5 - Concrete Schoolyard" />
        <Input label="Massaoke: Everyone Knows The Words" value="love shack" />
        <Input
          label="Banger With Some Foreign In It"
          value="Gorky's - patio song" />
        <Input
          label="Banger With Just An Excellent Name"
          value="Kendrick - Don't kill my vibe " />
        <Input
          label="Banger When You Were 15 But You Now Find A Little Embarrassing"
          value="jkwon - tipsy" />
        <Input
          label="Tune That Always Puts A Smile On Your Face"
          value="For what it’s worth - buffalo springfield" />
        <Input
          label="Low Key Coffee/Sandwich Shop Tune"
          value="The Staunton lick - lemon jelly" />
        <Input
          label="Camp Banger 🌈🌈🌈"
          value="Africa - Toto (OR Read U Wrote U (Ellis Miah Mix) [feat. The
          Cast of RuPaul's Drag Race All Stars, Season 2] - The Cast of RuPaul's
          Drag Race All Stars, Season 2" />
      </Form>
    </Card>
    <Card roundCornerXs>
      <Form title="Any more for any more?">
        <Input textarea label="Any other absolute tunes you fancy?" />
      </Form>
    </Card>
    <ButtonGroup end>
      <Button primary>Submit</Button>
      <Button>Clear</Button>
    </ButtonGroup>
  </Grid>
</main>
